body {
    font-size: 3vmin;
    margin: 0;
    background-color: rgb(255,
            202,
            212);

}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ol,
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 2vmin;
}

.border {
    border-radius: 5vmin;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vmin;
    
}

.normal {
    padding: 3vmin;
}

header,
footer {
    display: flex;
    color: aliceblue;
    font-size: 2vmin;
}

.header-slogan {
    padding: 0 2%;

}

.find-left-bar,
.bottom-center-bar {
    background-color: rgb(157,
            129,
            137);

}

.news-left-bar,
.right-bar {
    background-color: rgb(244,
            172,
            183);
}

.header,
.header-main,
.footer-bar {
    display: flex;
    min-height: 10vh;
    background-color: rgb(40,
            88,
            123);
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}


.header {
    border-bottom: 0.7vmin solid rgb(55,
            113,
            142);
}

.header-menu{
    display: none;
}

.header-main{
    flex: 1;
}

.container {
    display: flex;
    min-height: 80vh;
    margin: 2vmin;
}

.btn-group .button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55,
            113,
            142);

    border: 0.3vmin solid rgb(55,
            113,
            142);
    border-radius: 2vmin;
    color: white;
    padding: 2vmin 2vmin;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 15vw;
    display: block;
    margin-bottom: 2vmin;
    font-size: 2.5vmin;
}

.btn-group .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fixed-column {

    flex: 0 0 15.5vw;
}

.flexible-column {
    flex: 1;
}

.find-left-bar {
    margin-bottom: 2vmin;
}

.center-bar {
    margin: 0vmin 2vmin;
}

.image {
    width: 100%;
    height: auto;
    /* height: 700px; */
    max-height: 650px;
    ;
    object-fit: contain;
}

.left-bar,
.center-bar {
    display: flex;
    flex-direction: column;
}

.news-left-bar,
.main-center-bar {
    flex: 1;

}

.find-left-bar,
.bottom-center-bar {
    flex: 0;
}

.footer-bar {
    border-top: 0.7vmin solid rgb(55,
            113,
            142);
    ;
}

.footer-slogan {
    padding: 0 2% 0 0;
}



.find-left-bar,
.bottom-center-bar,
.news-left-bar,
.right-bar {
    border: 0.3vmin solid white;
}

li {
    margin-bottom: 2vmin;
}

.close-menu{
    display: none;
    
}

@media (max-width: 450px){


        .container{
            display: inline;
        }

        .news-left-bar{
            position: fixed;
            top: 0;
            right: 0;

            border-radius: 0;
            border: 0;

            width: 100vw;
            height: 100vh;

            display: none;

            padding: 0;

            flex-direction: column;

        }

        .header-main{
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .header p {
            order: 2;
            padding: 0;
            padding-left: 2%;
            padding-bottom: 2%;
        }

        .header h1 {
            order: 1;
            margin-block-end: 0;
           
        }

        .header-menu {
            display: flex;
            padding: 1% 4%;
            flex-direction: row;
        }

        .left-bar,
        .right-bar{
           margin: 0vmin 2vmin;
        }

        .right-bar{
            margin-top: 2vmin;
        }

        .right-bar ul {
            padding-inline-start: 5vmin
        }

        .close-menu{
           padding: 2vmin;
        }

        .btn-group .button{
            padding: 3vmin 20vmin;
        }

}

#anim {
    width: calc(100% - 10px);
    height: calc(100% - 50px);
    background-color: white;

}